.chat-container {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: grid;
  grid-template-rows: 9fr 1fr;
}

.chat-messages {
  height: 100%;
  overflow-y: scroll;
  border:0.5px solid #ccc;
}

.chat-messages {
  display:block;
}
.me, .ai{
  display:block;
  width:100%;
  position:relative;
  clear:both;
}

.App-header {
  width: 800px;
  height: 100%;
  margin: 0 auto;
}

.chat-messages .ai p{
  display: block;
  background: green;
  color: white;
  font-size: 12px;
  width: auto;
  max-width: 60%;
  padding: 20px;
  border-radius: 20px;
  line-height: 1.2;
  float:left;
  position: relative;
}

.chat-messages .me p{
  display: block;
  background: royalblue;
  color: white;
  font-size: 12px;
  width: auto;
  max-width:60%;
  padding: 20px;
  border-radius: 20px;
  line-height: 1.2;
  /* display: flex; */
  float: right;
  position: relative;
}
.chat-input {
  display: flex;
}

#message-input {
  flex: 1;
  padding: 5px;
}

#clear-button {
  padding: 5px 10px;
  background-color: #4b8df6;
  color: white;
  border: none;
  cursor: pointer;
}
#send-button {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.chat-input {
  display: grid;
  position: relative;
  bottom: 0px;
  width: 100%;
  max-height:50px;
  grid-template-columns: 1fr 8fr 1fr;
  gap: 5px;
}
.wrapper {
  display: grid;
  grid-template-rows: 1fr 20fr 1fr;
  gap: 5px;
}
.login-wrapper {
  display: grid;
  place-items: center; /* Shorthand for justify-content: center; align-items: center; */
}
@media (min-width: 768px) {
  .footer__company {
      justify-content: start;
      padding: 0;
      border: none;
      gap: 1.125rem;
  }
}
.footer__company {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  padding: 2rem 0;
  border-bottom: 1px solid hsla(0, 0%, 100%, .1);
}
canvas, img, picture, svg, video {
  display: block;
  max-width: 100%;
}
.footer__company-text {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 700;
}
.login-wrapper {
  display: grid;
  padding: 0 200px;
  gap: 30px;
}

.login-section, .register-section {
  display: grid;
  width: 100%;
  gap: 20px;
}
.button-group{
  display: block;
  position: relative;
}

.button-group button {
  float: right;
}